
  .gallery-item {
    display: flex;
    flex-direction: column;
    background: #525252;
    border-right: 3px solid black;
    flex: 1 1 auto;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

    &__pokemon {
      height: 30vh;
      display: block;
      align-items: stretch;
    }
  
    &__main-info {
      height: 20vh;
      background: #232323;
      padding: 1em;
    }
  
    &__name {
      color: white;
      font-size: 1.5em;
    }
  
    &__id {
      color: white;
      font-size: 1em;
    }
  
    &__type {
      padding: 5px;
      color: white;
      font-size: 1em;
    }
  
    &__ability {
      padding: 5px;
      color: white;
      font-size: 1em;
    }
  
    // &__prev {
    //   position: absolute;
    //   left: 0px;
    //   // top: 50%;
    //   // transform: translatey(-100%);
    //   // z-index: 0;
    //   cursor: pointer;
    // }
  
    // &__next {
    //   position: absolute;
    //   top: 50%;
    //   right: 0px;
    //   transform: translatey(-50%);
    //   z-index: 10;
    //   cursor: pointer;
    // }
  }
  
  .name-id {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.8em 0;
  }
  
  .type {
    display: flex;
    justify-content: space-between;
  }
  
  .ability {
    display: flex;
    justify-content: space-between;
  }

  