<div class="carousel-body">
  <div class="gallery-wrapper">
    <div class="gallery">
      <app-pokemon-card
        *ngFor="let pokemon of pokemons; let i = index"
        [pokemon]="pokemon"
        ngClass="gallery-wrapper--active: i === carouselIndex"
      >
      </app-pokemon-card>
    </div>
    <div class="arrow1">
      <img
        class="gallery-item__prev"
        src="https://assets.pokemon.com/static2/_ui/img/lightbox/prev.png"
        alt=""
        (click)="prevPokemon()"
      />
    </div>
    <div class="arrow2">
      <img
        class="gallery-item__next"
        src="https://assets.pokemon.com/static2/_ui/img/lightbox/next.png"
        alt=""
        (click)="nextPokemon()"
      />
    </div>
  </div>
</div>
