<form *ngIf="parsedData" [formGroup]="form">
  <div class="card-form">
    <div class="img-card-container">
      <img
        class="img-example"
        [src]="parsedData.id | pokeImage"
        alt="img-example"
      />
    </div>
    <div class="card-form-layout">
      <div class="form-card-content">
        <div class="form-card-info">
          <input
            class="input-card-name"
            matInput
            placeholder="name"
            name="name"
            type="text"
            readonly="{{ notEditable }}"
            formControlName="name"
          />
        </div>
        <div class="form-card-info">
          <input
            class="input-card"
            matInput
            placeholder="ID"
            name="id"
            type="number"
            readonly="{{ notEditable }}"
            formControlName="id"
          />
        </div>
        <div class="form-card-info">
          <input
            class="input-card"
            matInput
            placeholder="Types"
            name="types"
            type="text"
            readonly="{{ notEditable }}"
            formControlName="types"
          />
        </div>
      </div>
    </div>
  </div>
</form>
