<header>
  <div class="img-navigation">
    <a routerLink="/">
      <img
        class="img-item"
        src="../../../../assets//images/nav-bar/logo-pokemon-79x45.png"
      />
    </a>
    <a href="https://corporate.pokemon.com/es-es/" target="_blank">
      <img
        class="img-item"
        src="../../../../assets/images/nav-bar/corporate-es.png"
        alt=""
      />
    </a>
    <a href="https://tcg.pokemon.com/es-es/" target="_blank">
      <img
        class="img-item"
        src="../../../../assets/images/nav-bar/sv01-gus-237-es.png"
        alt=""
      />
    </a>
    <a href="https://scarletviolet.pokemon.com/es-es/" target="_blank">
      <img
        class="img-item"
        src="../../../../assets/images/nav-bar/scarlet-violet-237x80-es.jpg"
        alt=""
      />
    </a>
    <a href="https://unite.pokemon.com/es-es/" target="_blank">
      <img
        class="img-item"
        src="../../../../assets/images/nav-bar/unite-237x80.jpg"
        alt=""
      />
    </a>
    <a
      href="https://tcg.pokemon.com/es-es/expansions/crown-zenith/"
      target="_blank"
    >
      <img
        class="img-item"
        src="../../../../assets/images/nav-bar/swsh125-gus-237-es.png"
        alt=""
      />
    </a>
  </div>
  <div class="navigation-items-content">
    <ul class="items-nav">
      <li class="item active">
        <img src="../../../../assets/icons/pokemon.svg" />
        <a routerLink="/pokemons">Inicio </a>
      </li>
      <li class="item">
        <img src="../../../../assets/icons/pokedex.svg" alt="" />
        <a routerLink="/pokedex">Pokédex</a>
      </li>
      <li class="logout-container">
        <img src="../../../../assets/icons/log-out.svg" />
        <a class="link-logout" (click)="this.authService.logout()">
          Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>
  <div class="responsive-menu">
    <input type="checkbox" class="checkbox__hack" id="checkbox__hack" />
    <label for="checkbox__hack" class="checkbox-hack__label"></label>
    <div class="nav--top">
      <ul class="menu-lateral nav--top__list">
        <li class="menu-lateral__item">
          <img src="../../../../assets/icons/pokemon.svg" />
          <a routerLink="/pokemons">Inicio </a>
        </li>
        <li class="menu-lateral__item">
          <img src="../../../../assets/icons/pokedex.svg" alt="" />
          <a routerLink="/pokedex">Pokédex</a>
        </li>
        <li class="menu-lateral__item">
          <img src="../../../../assets/icons/log-out.svg" />
          <a (click)="this.authService.logout()"> Cerrar Sesión </a>
        </li>
      </ul>
    </div>
  </div>
</header>
