<div *ngIf="pokemon$ | async as pokemon" class="container-pokemon-detail">
  <div class="title-name-pokemon">
    <h1>{{ pokemon.name | titlecase }}</h1>
  </div>
  <div class="pokemon-detail">
    <div class="first-container-detail">
      <div class="pokemon-img">
        <img class="poke-img" [src]="pokemon?.id | pokeImage" />
      </div>
      <div class="abilities-pokemon">
        <h3 class="abilities-title">Puntos de base</h3>
        <div *ngIf="pokemon" class="">
          <app-stats-chart [pokemon]="pokemon"></app-stats-chart>
        </div>
      </div>
    </div>

    <div class="second-container-detail">
      <div
        class="text-description"
        *ngFor="
          let flavorText of pokemon?.pokemon_v2_pokemonspecy
            ?.pokemon_v2_pokemonspeciesflavortexts
        "
      >
        <p class="text-pokemon">
          {{ flavorText.flavor_text }}
        </p>
      </div>
      <div class="data-pokemons">
        <h3 class="data-title">Datos</h3>
        <ul>
          <li>Height: {{ pokemon.height }}</li>
          <li>Weight: {{ pokemon.weight }}</li>
        </ul>
      </div>
      <div class="types-pokemon">
        <h3 class="types-title">Tipos</h3>
        <ul *ngFor="let type of pokemon?.pokemon_v2_pokemontypes">
          <li>
            {{ type.pokemon_v2_type.name }}
          </li>
        </ul>
      </div>
      <div class="weaknes-pokemons">
        <h3 class="weaknes-title">Debilidades</h3>
        <ul *ngFor="let weaknes of calcWeakType(pokemon)">
          <li>
            {{ weaknes }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="evolution-pokemons">
    <div class="container-title-evolution">
      <h2 class="evolution-title">Evoluciones</h2>
    </div>
    <div class="container-evolution-chain">
      <div
        class="evolution-chain"
        *ngFor="
          let pokemonChain of pokemon?.pokemon_v2_pokemonspecy
            ?.pokemon_v2_evolutionchain?.pokemon_v2_pokemonspecies
        "
      >
        <app-pokemon-card-detail
          [routerLink]="['/pokedex', pokemonChain.id]"
          [pokemonSpecies]="pokemonChain"
        ></app-pokemon-card-detail>
      </div>
    </div>
    <div class="button-container">
      <button class="goBack">
        <a routerLink="/pokedex">Ir a la pokédex</a>
      </button>
    </div>
  </div>
</div>
