<div class="pokedex-box">
  <div class="container-poke">
    <h2 class="pokedex-title">Pokédex</h2>
    <div class="pokedex-all-container">
      <div
        class="pokedex-card-container"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="1.5"
        [scrollWindow]="true"
        [infiniteScrollThrottle]="50"
        (scrolled)="loadMorePokemon()"
        (scrolledUp)="loadLessPokemon()"
      >
        <ng-container *ngFor="let pokemon of pokeList">
          <app-pokemon-card-detail
            [pokemonList]="pokemon"
            routerLink="/pokedex/{{ pokemon.id }}"
          >
            <span>{{ pokemon.id }}</span> {{ pokemon.name }}
          </app-pokemon-card-detail>
        </ng-container>
      </div>
    </div>
  </div>
</div>
