.home-container{
    background-image: url(../../../assets/images/container_bg.png);
    background-size: auto;
    padding: 3em;
    margin: 0;
}

.news-content {
    margin: 2em 8em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    height: 100%;
}

.principal-news {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
    background-color: blue;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: translateX(-10px) translateY(-10px);
      }
}

.subtitle-news {
    color: white;
    font-size: 1em;
}

.principal-title-news {
    color: white;
    font-size: 1.5em;
}

.second-new {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    background-color: #E3350D;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: translateX(-10px) translateY(-10px);
      }
}

.card-title {
    font-size: 1.2em;
    color: white;
    padding: 0.8em;
}


.third-new {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    background-color:#855ac9;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: translateX(-10px) translateY(-10px);
      }
}

.fourth-new {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    background-color: #daa31c;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: translateX(-10px) translateY(-10px);
      }
}

.fifth-new {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    background-color: #ff2a8e;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: translateX(-10px) translateY(-10px);
      }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.title-slider ,.colum-12{
  padding: 0;
  margin: 0;
}

.pokemons-carousell-title{
  background-color: #232323;
  color: #919191;
  float: left;
  position: relative;
  padding: 11px 20px 8px;
  vertical-align: middle;
  width: auto;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
  margin-left: 2em;
}

.pokedex-icon{
  width: 2em;
  height: 2em;
  margin-right: .5em;
}

@media screen and (max-width: 768px){
  .news-content{
    margin:auto;
    display: flex;
    flex-direction: column;
  }
}
